@page
@model WebApplication3.Pages.BooksModel
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.ISBN</td>
                <td>@book.Description</td>
            </tr>
        }
    </tbody>
</table>